<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/000C2DF0912A62F2135D5BA0B84DE1C1AEE9038DCAC18B7AA6DFFD8F33716D61/scale?width=1200&amp;aspectRatio=1.78&amp;format=webp"
      cardTitle="Homem de Ferro em 3D"
      cardDescription="Marvel anuncia novo homem doe ferro"
    >
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      cardTitle="Nova Série anunciada no Disney +"
      photoCover="https://cdn.pixabay.com/photo/2023/02/08/02/40/iron-man-7775599_1280.jpg"
    ></app-small-card>

    <app-small-card
      cardTitle="Novo filme do Pantera negra lançado em breve"
      photoCover="https://lumiere-a.akamaihd.net/v1/images/unnamed_13_75a3ebb1.jpeg?region=0%2C0%2C356%2C512"
    ></app-small-card>

    <app-small-card
      cardTitle="Novo filme dos X-men está em pós produção, afirma diretor"
      photoCover="https://images.bauerhosting.com/legacy/empire-tmdb/films/127585/images/ai9UKd8KownQKGIh1m5p3DuEeMm.jpg?ar=16%3A9&fit=crop&crop=top&auto=format&w=1440&q=80"
    ></app-small-card>

  </div>
</div>
